body {
    margin: 0px;
    padding: 0px;
    display: grid;
    justify-content: center;
}

p {
    font-size: 50px;
    transition: 1s;

}

@-webkit-keyframes typing {
     from {
          width: 0; 
        } 
    }
@-webkit-keyframes blink-caret {
     50%
      {
           border-color: transparent; 
        }
     }

.welcome_msg { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 18.5em; 
	width: 18ch;
	margin: 1em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 7s steps(18, end),
	           blink-caret .5s step-end infinite alternate;
}