body {
    margin: 0;
    line-height: 1;
    background-color:#FDF2E9;
    font-size: 1.5em;
	height: 100%;
}

.header {
	margin: 20px;
    line-height: 1.5;
    background-color:#FDF2E9;
    font-size: 1em;
}

.row {
    display: flex;
    width: 100%;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10 {width:83.33%;}
.col-11 {width:91.66%;}
.col-12 {width:100%;}

* {
    box-sizing: border-box;
}

[class*="col-"] {

}



/* First we add media quiery, and assign the max width for the browser*/
@media screen and (max-width: 680px){
    
    h3 {
        font-size: 1.0em;
		width: 100%;
    }
    
}
 


/* Split the screen in half */

/*
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

*/

/* Control the left side */
.left {
  left: 0;
  background-color: darkcyan;
}

/* Control the right side */
.right {
  right: 0;
  background-color: dimgray;
}

/* If you want the content centered horizontally and vertically */
/*
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
*/

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}