$primary_color: teal;

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  height: 60vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
}

.body_borders {
  margin: 40px;
}

.title span {
  color: $primary_color;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin-top: 50px;
  margin-left: 50px;
  line-height: 1.15;
  font-size: 4rem;
}

// .title,
// .description {
//   //   text-align: left;
// }

.description {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: system-ui;
  border: none;
}

.reg_btn {
  font-weight: 100;
  font-family: system-ui;
  border: none;
  margin-left: 17px;
  padding: 5px;
  align-self: start;
  font-size: 1.5rem;
  color: black;
  text-decoration: underline;
}

.bottom_grid {
  display: flex;
  align-self: start;
}

.rules_section p {
  margin-top: 5px;

  span {
    color: gray;
    text-decoration: solid;
  }
}

@media screen and (max-width: 350px) {
  .container {
    display: contents;
    .description {
      font-size: larger;
      margin-bottom: 50px;
    }
    .category,
    .submit {
      font-size: smaller;
    }
    .field_input {
      width: -webkit-fill-available;
      // width: 250px;
    }
    .box {
      padding: 40px;
    }
  }
}
